.Container{
	position: relative;
}
.SectionBckgr{
	position: absolute;
	top: 50px;
	left: 50px;
	height: 350px;
	width: 90vw;
	background-color: #cccc;
	clip-path: polygon(40% 50%, 85% 80%, 70% 95%, 20% 62% );
	z-index: 0;
}