



@media screen and (min-width: 1024px){
	.MainH{
		display: flex;
		justify-content: center;
	}

	.MainH h1{
		width: 720px;
		font-size: 2.8rem;
		text-transform: capitalize;
	}

	.MainH h1:after{
		display: block;
		height: 3px;
		background-color: #ff3366;
		content: " ";
		width: 720px;
		margin: 0 auto;
		margin-top: 30px;
	}
}

@media screen and (max-width: 1023px){
	.MainH{
		display: flex;
		justify-content: center;
	}

	.MainH h1{
		width: 70vw;
		font-size: 2.8rem;
		text-transform: capitalize;
	}

	.MainH h1:after{
		display: block;
		height: 3px;
		background-color: #ff3366;
		content: " ";
		width: 70vw;
		margin: 0 auto;
		margin-top: 30px;
	}
}