
.Container{
	font-family: 'Ubuntu Mono', monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 160px;
	transition: 0.5s ease-out;
}

.Container h3 {
	font-size: 2.2rem;
}

.InputForm{
	width: 100%;
}